body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #ddd;
}
img {
    max-width: 100%;
}

.form-container{
    width: 570px;
    min-height: 350px;
    background: linear-gradient(#14D4CF, #2FABE5);
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 100%;
}
.loginform {
    background: #000;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

.loginform h2 {
    color: #22D4CE;
    font-size: 4rem;
    text-transform: uppercase;
}

.loginform .form-control {
    border-radius: 1rem;
    text-align: center;
    background-color: grey;
    border: none;
    outline: none;
    box-shadow: none;
}

.loginform .password {
    width: 85%;
}

.loginform label {
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(#14D4CF, #2FABE5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.enter {
    font-weight: 600;
    font-size: 30px;
    color: #2FABE5;
    border: 3px solid #2FABE5;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: 3px 10px;
    margin-top: 2rem;
    text-transform: uppercase;
}

.option-container{
    width: 777px;
    margin: 0 auto;
}
.option-container form {
    width: 100%;
    display: grid;
    place-items: center;
}

.subject-btn {
    height: 100px;
    display: flex;
    width: 68%;
    margin-bottom: 2rem;
    border: 10px solid;
    border-radius: 45px / 15px;
    background-image: linear-gradient(#14D4CF, #2FABE5);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-color: #000;
    padding: 10px;
}
.subject-btn .btn-content {
    background-color: #000;
    color: #14D4CF;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    font-family: inherit;
    padding-left: 2.5rem;
    justify-content: start;
}
.subject-btn .btn-content .icon {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -50px;
    top: -10px;
    border-radius: 50%;
    color: #2FABE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #14D4CF;
    background-color: #000;
    font-size: 2rem;
}

.subject-btn .btn-content .no-report {
    margin-right: 10px;
    color: #2FABE5;
}

.section-title {
    font-size: 4.3rem;
    color: #14D4CF;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0 1.5rem 0;
}

.weather-info {
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
}
.weather-info.tornado {
   background: url(../img/tornadotemplate.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.weather-info.tstorm {
    background: url(../img/tstormtemplate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.weather-info.flood {
    background: url(../img/floodtemplate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.weather-info.hashtag {
    background: url(../img/hashtagtemplate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map {
    position: absolute;
    top: 41%;
    left: 23.2%;
    width: 199px;
    height: 136px;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
    border: 8px solid #63c4d6;
    background-color: #63c4d6;
}

.map img {
    /* width: 180px; */
    /* object-fit: cover; */
    /* height: 120px; */
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.map .tagname {
    font-size: 1.7em;
    font-weight: 600;
    color: #26DDDA;
    text-transform: uppercase;
}

.weather-info.tstorm .map{
    top: 41.5%;
    left: 19.4%;
    width: 203px;
    height: 137px;
}
.weather-info.tornado .map {
    top: 42%;
    left: 21%;
    width: 197px;
    height: 130px;
}

a.weather-info.hashtag .map {
    background: none;
    border: none;
    width: 100%;
    left: 0;
    text-align: center;
}

.time-stamp {
    display: flex;
    position: absolute;
    top: 28.8%;
    width: 66%;
    justify-content: space-between;
    left: 57px;
    color: #26DDDA;
    font-size: 1.4rem;
    font-weight: 500;
}

.weather-info.flood .time-stamp {
    left: 21%;
    width: 65%;
}
.population {
    position: absolute;
    bottom: 18%;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #40ABEA;
}
.weather-info.flood .population {
    padding-left: 7%;
}
.locality {
    position: absolute;
    bottom: 6%;
    color: #409FF6;
    word-break: break-word;
    width: 246px;
    left: 13%;
}

.locality p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 19px;
}
.weather-info.flood .locality {
    left: 16%;
    bottom: 6%;
}

.hashtag .population {
    bottom: 19%;
}
.tstorm .population,
.tornado .population{
    bottom: 17%;
}


@media screen and (max-width: 776px) {
    .option-container {
        max-width: 100%;
        width: 100%;
    }

    .subject-btn {
        width: 70%;
        height: 83px;
    }

    .subject-btn .btn-content {
        font-size: 14px;
    }

    .subject-btn .btn-content .icon {
        width: 50px;
        height: 50px;
        position: absolute;
        left: -30px;
        top: -4px;
    }
}

@media screen  and (min-width: 1200px) and (max-width: 1399px){
    .map {
        left: 19%;
        width: 199px;
    }

    .weather-info.tstorm .map {
        left: 14.4%;
    }
    .weather-info.tornado .map{
        width: 198px;
        height: 132px;
        left: 16%;
    }
}
@media screen  and (min-width: 992px) and (max-width: 1199px){
    .map {
        left: 22.5%;
    }

    .weather-info.tstorm .map,
    .weather-info.tornado .map {
        left: 18.4%;
    }
    .weather-info.tornado .map{
        width: 198px;
        height: 130px;
        left: 19.4%;
        top: 42%;
    }
}
@media screen  and (min-width: 768px) and (max-width: 991px){
    .time-stamp {
        left: 21.5%;
        width: 58%;
    }
    .weather-info .map {
        left: 25.5%;
    }
    .weather-info.tstorm .map{
       left: 21.8%;
    }
    .weather-info.tornado .map{
        width: 198px;
        height: 132px;
        left: 22.7%;
    }

    .locality {
        bottom: 5%;
        left: 16%;
    }

    .weather-info.flood .locality {
        bottom: 6%;
        left: 19%;
    }
    .weather-info.flood .population {
        padding-left: 6%;
    }

}
@media screen and (max-width: 767px) {
    .mb-xs-4 {
        margin-bottom: 1rem;
    }
    .weather-info {
        height: 530px;
    }

   .weather-info .map {
        top: 42%;  
        left: 33.2%;  
        width: 206px;
    }
   .weather-info.tstorm .map{
        top: 42.5%;
        left: 30.8%;
        width: 206px;
    }
    .weather-info.tornado .map {
        top: 42%;
        left: 31%;
        width: 210px;
        height: 140px;
    }
}

@media screen and (max-width: 425px) {
    .mb-xs-4 {
        margin-bottom: 1rem;
    }
    .weather-info {
        height: 530px;
    }

   .weather-info .map {
        top: 42%;  
        left: 33.2%;  
        width: 206px;
    }
   .weather-info.tstorm .map{
        top: 42.5%;
        left: 25.7%;
        width: 206px;
    }
    .weather-info.tornado .map {
        top: 42%;
        left: 25.8%;
        height: 138px;
    }
    .weather-info.flood .map {
        left: 29.2%;
        width: 201px;    
    }

    .section-title {
        font-size: 3rem;
    }
    .loginform .password {
        width: 100%;
    }
    .loginform h2 {
        font-size: 2.5rem;
    }

    .time-stamp {
        left: 23%;
        width: 55%;
    }
    .locality {
        width: 100%;
        left: 0;
        text-align: center;
    }

    .weather-info.flood .locality {
        left: 10px;
        bottom: 6%;
    }
    .weather-info.flood .time-stamp {
        left: 25%;
        width: 55%;
    }
}

@media screen and (max-width: 375px){
    .weather-info.tornado .map {
        left: 22.4%;
    }
    .weather-info.tstorm .map {
        left: 22.5%;
    }
    .weather-info.flood .map {
        left: 26%;
        width: 202px;
    }
    .time-stamp {
        left: 20%;
        width: 60%;
    }
    .weather-info.flood .time-stamp {
        left: 21%;
        width: 65%;
    }
}

@media screen and (max-width: 320px){
    .weather-info.tornado .map {
        left: 17.8%;
        /* left: 19.8%;
        width: 198px;
        height: 126px;
        top: 43%; */
    }
    .weather-info.flood .map {
      left: 21.5%;
    }
    .weather-info.tstorm .map {
        left: 17.8%;
    }
    .time-stamp {
        left: 18%;
        width: 66%;
    }
    .loginform h2 {
        font-size: 2rem;
    }
}

.suggestions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.suggestions .suggestion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    background-color: transparent;
    color: #26DDDA;
    border: 3px solid #2FABE5;
    padding: 10px;
}
.suggestions .suggestion span {
    font-weight: bold;
    margin: 0 auto;
    color: #2FABE5;
}

.help {
    font-size: 14px;
    color: #2FABE5;
}
.help b {
    color: #26DDDA;
}