{% extends 'base.html' %}
{% load static %}

{% block content %}

<video autoplay muted loop id="bg-video">
    <source src="/static/img/bg-video.mp4" type="video/mp4">
    <source src="/static/img/bg-video.webm" type="video/webm">
</video>

<div class="home-logo">
    <img src="/static/img/logo-2.png" alt="logo-home">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-4">
            {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="mb-1 alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-12 min-vh-100 d-flex align-items-center justify-content-center">
            <div class="form-container">
                <form class="loginform text-center" method="POST" action="{% url 'authorize' %}">
                    {% csrf_token %}
                    <h2>Password</h2>
                    <div class="mb-4">
                        <input type="password" class="form-control password mx-auto" name="password" required autofocus />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="starttime">START TIME</label>
                            <input type="text" required class="form-control picker" id="starttime" name="starttime" />
                        </div>
                        <div class="col-md-6">
                            <label for="endtime">END TIME</label>
                            <input type="text" required  class="form-control picker" id="endtime" name="endtime" />
                        </div>
                    </div>
                    <input type="hidden" name="suggestion" id="selected-suggestion">
                    <div class="mb-4 text-center">
                        <button class="enter" type="submit">Enter</button>
                    </div>
                    <div class="suggestions-time">
                        <p class="help text-uppercase">
                           Manually enter a range or select a choice from below
                        </p>
                        <div class="suggestions">
                            {% for suggestion in suggestions %}
                                <button class="suggestion text-uppercase" type="button" data-rangeloc="{{suggestion.local}}_{{end_local}}" data-rangeiso="{{suggestion.utc}}_{{end_utc}}">
                                    {{suggestion.title}}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        flatpickr(".picker", {
            enableTime: true,
            dateFormat: 'Z',
            altInput: true,
            allowInput: true,
            altFormat: 'Y-m-d h:i K'
        });

        const suggestions = document.querySelectorAll('.suggestion');
        if(suggestions) {
            suggestions.forEach(suggestion => {
                suggestion.addEventListener("click", handleSuggestionSelection);
            });
        }


        function handleSuggestionSelection(e) {
            const iso = e.currentTarget.dataset.rangeiso;
            const local = e.currentTarget.dataset.rangeloc;
            const suggestionHolder = document.querySelector('#selected-suggestion');
            const starttime = document.querySelector('#starttime');
            const endtime = document.querySelector('#endtime');
            if(starttime  && endtime) {
                starttime.value = iso.split('_')[0];
                endtime.value = iso.split('_')[1];
                console.log(starttime.nextElementSibling)
                starttime.nextElementSibling.value = local.split('_')[0];
                endtime.nextElementSibling.value = local.split('_')[1];
            }
            if(suggestionHolder) {
                suggestionHolder.value = iso;
            }

            console.log(starttime.nextElementSibling.value)
        }
    </script>
{% endblock %}