<div class="container pt-4">
    <div class="row">
        <div class="col-12 text-center">
            <!-- <h3 class="header-title">weather snag</h3> -->
            <img src="/static/img/logo-1.png" alt="weather scaner logo" class="header-logo">
            <p class="header-subtitle">- chase storms digitally -</p>
        </div>
    </div>
</div>
<nav class="nav">
    <ul>
        <li><a href="/">go back</a></li>
        <li><a href="/active-reports">verify media</a></li>
        <li><a href="/hashtags">hashtags</a></li>
        <li><a href="#">about</a></li>
    </ul>
</nav>