<div class="container pt-4">
    <div class="row">
        <div class="col-12 text-center">
            <!-- <h3 class="header-title">weather snag</h3> -->
            <a href="/active-reports">
                <img src="/static/img/logo-1.png" alt="weather scaner logo" class="header-logo">
            </a>
            <p class="header-subtitle">- chase storms digitally -</p>
        </div>
    </div>
</div>
<nav class="nav">
    <ul>
        <li><a href="{{prev_url}}">go back</a></li>
        <li><a href="/download-media">Download Media</a></li>
        <li><a href="/hashtags">hashtags</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</nav>