{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">{% if type == 'hashtag' %} HASHTAG {% else %} LOCATIONS {%endif%}</h2>
            </div>
        </div>
        <div class="row justify-center text-center">
            {% if type != 'hashtag' %}
                {% for warning in warnings %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 px-0 mb-xs-4">
                        <a href="{{warning.location.insta_url}}" class="weather-info {{type}}" target="_blank">
                            <div class="time-stamp">
                                <div class="starttime">{{ warning.start }}</div>
                                <div class="endtime">{{ warning.end }}</div>
                            </div>
                            <div class="map">
                                <img src="{{warning.location.location_map}}" alt="map">
                            </div>
                            <div class="population">{{ warning.location.population }}</div>
                            <div class="locality">
                                <p>{{warning.location.name|truncatechars:18}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}

      
            {% if type == 'hashtag' %}
                {% for hash in hash_tags %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 px-0">
                        <a href="{{hash.url}}" class="weather-info {{type}}" target="_blank">
                            <div class="map">
                                <div class="tagname">{{ hash.name }}</div>
                            </div>
                            <div class="population">{{hash.post}}</div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}